@media only screen and (min-width: 801px) {
    /* For tablets: */
    .mobile-row {
        bottom: 0px;
    }

    .nomor-antrian {
        font-size: 85px !important;
    }

    .text-mobile{
        font-size: 40px !important;
    }
    .none-desktop{
        display: none !important;
    }


    .full-height {
        height: 100%;
    }

    .footer-desktop {
        clear: both !important;
        height: 100px !important;
        float: none !important;
    }

    .center-footer {
        margin: auto !important;
        width: 50% !important;
        padding: 30px !important;
    }

    .font-footer {
        font-family: Roboto;
        font-size: 25px !important;
        color: #ffffff !important;
    }
}
.center-desktop{
    text-align: center;
    font-size: 50px !important;
}

.container{
    width : 50% !important;
}

.gambar{
    max-width : 100% !important;
}


.teks-atas{
    font-size: 45px !important;
}

.nomor-antrian{
    font-size: 300px !important;
    margin-top: -40;
    margin-bottom: -40;
}

.teks-bawah{
    font-size: 40px !important;
}

@media (max-width: 800px) {

    .max-width{
        width: 100%;
    }

    .center-desktop{
        text-align: right;
        font-size: 20px !important;
    }

    .gambar{
        max-width :100% !important;
    }

    .none-mobile{
        display: none !important;
    }

    .teks-atas{
        font-size: 30px !important;
    }

    .nomor-antrian{
        font-size: 140px !important;
    }

    .teks-bawah{
        font-size: 15px !important;
        margin: 0px;
        vertical-align: middle;
    }
    .font-footer {
        font-family: Roboto;
        font-size: 15px !important;
        color: #ffffff !important;
    }
}




